<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-9">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Register</title>

	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/custom css register.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="Home.html">Logo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="Home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Genre.html">Genre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="New Game.html">New Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="On Sale Now.html">On Sale Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="My Specification.html">My Specification</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a data-toggle="modal" href="#myModal">
              <i class="fa fa-shopping-cart" style="font-size:26px"></i>
            </a>
            </li>
            <li class="nav-item">
               <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title"><b>YOUR SHOPPING CART</b></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="col-sm-3">
              <img src="img/1.jpg" alt="IMG" style="width: 100%;">
            </div>
              <div class="col-sm-6">
                <p>Game A</p>
              </div>
              <div class="col-sm-3 text-right">
                <p>$50</p>
              </div>
          </div>
          <div class="modal-body">
            <div class="col-sm-3">
              <img src="img/1.jpg" alt="IMG" style="width: 100%;">
            </div>
              <div class="col-sm-6">
                <p>Game A</p>
              </div>
              <div class="col-sm-3 text-right">
                <p>$50</p>
              </div>
          </div>
          <div class="modal-body">
            <div class="col-sm-3">
              <img src="img/1.jpg" alt="IMG" style="width: 100%;">
            </div>
              <div class="col-sm-6">
                <p>Game A</p>
              </div>
              <div class="col-sm-3 text-right">
                <p>$50</p>
              </div>
          </div>
          <div class="col-sm-12">
            <p class="text-right">Total: $150</p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success">View Cart</button>
            <button type="button" class="btn btn-success">Check Out</button>
          </div>
          
        </div>
      </div>
    </div>

    <div class="loginmodal-container">
    	<div class="col-md-12">
    		<img src="img/login.jpg" style="width: 30%;" class="rounded mx-auto d-block">
    	</div>
    	<h1>Register</h1><br>
    	<form action="user/create" method="POST" class="form-register">
    		<input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
    		<input type="password" name="password" placeholder="Password">
    		<input type="submit"class="login loginmodal-submit">
    	</form>
    </div>

	    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>